{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script src="{{ url_for('static', filename='create_model.js') }}"></script>

<style>
  .alert {
      display: none;
  }
</style>

<div class="form-horizontal">
  <div class="form-group">
    <label class="control-label col-sm-2">Data File</label>
    <div class="col-sm-4">
      <input class="form-control" type="file" name="datafile" id="datafile" />
    </div>
  </div>
</div>

<form class="form-horizontal" id="trainingForm">
  <div class="form-group">
    <label class="control-label col-sm-2">Variables:</label>
    <div class="col-sm-6 column">
      <table class="table table-bordered table-hover" id="tab_inputs">
	<thead>
	  <tr>
	    <th class="text-center">Inputs</th>
	    <th class="text-center">Outputs</th>
	  </tr>
	</thead>
	<tbody>
	  <tr id='col0'>
	    <td><div class="checkbox" name="xparams" id="xparams"></div></td>
	    <td><div class="checkbox" name="yparams" id="yparams"></div></td>
	  </tr>
	</tbody>
      </table>
    </div>
  </div>

  <div id='variableError' class='alert alert-danger'>Alert</div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label><input type="checkbox" id="scaling" name="scaling" value="scale"> Do Scaling</label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2">Test Sample Fraction (%):</label>
    <div class="col-sm-2">
      <input class="form-control" type="number" id="traintest" name="traintest" min="0" max="100" step="5" value="20">
    </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-sm-2">Neural Network Name:</label>
    <div class="col-sm-2">
      <input class="form-control" type="text" id="nnname" name="nnname" placeholder="NN name..." />
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">Epochs:</label>
    <div class="col-sm-2">
      <input class="form-control" type="number" id="epochs" name="epochs" min="0" max="10000" step="10" value="10" />
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">Batch Size:</label>
    <div class="col-sm-2">
      <input class="form-control" type="number" id="batchsize" name="batchsize" min="0" max="10000" step="100" value="0">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2">Network Architecture (no input layer):</label>
    <div class="row clearfix">
      <div class="col-sm-6 column">
	<table class="table table-bordered table-hover" id="tab_logic" name="tab_logic">
	  <thead>
	    <tr>
	      <th class="text-center">Type</th>
	      <th class="text-center">Neurons</th>
	      <th class="text-center">Activation</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr id='addr0'>
	      <td>
		<select class="form-control bldg-menu selectpicker" id="type" name="type" data-live-search="true" required>
		  <option disabled="" selected="" value="">Select...</option>
		  <option value="Linear">Linear</option>
		  <option value="Convolution">Convolution</option>
		  <option value="Flatten">Flatten</option>
		  <option value="MaxPool">MaxPool</option>			    
		</select>
	      </td>
	      <td>
		<input class="form-control" type="number" id="neurons" name="neurons" min="1" max="100" step="1" value="1">
	      </td>
	      <td>
		<select class="form-control bldg-menu selectpicker" id="activation" name="activation" data-live-search="true" required>
		  <option disabled="" selected="" value="">Select...</option>
		  <option value="sigmoid">Sigmoid</option>
		  <option value="relu">ReLU</option>
		  <option value="tanh">Tanh</option>
		  <option value="softmax">Softmax</option>		  
		</select>
	      </td>
	    </tr>
	    <tr id='addr1'></tr>
	  </tbody>
	</table>
	<a id="add_row" class="btn btn-default pull-left">Add Layer</a>
	<a id='delete_row' class="pull-right btn btn-default">Delete Layer</a>
      </div>
    </div>
    <div class="form-group">
    </div>
  </div>

  <div id='layerError' class='alert alert-danger'>Alert</div>
  
  <div class="form-group">
    <label class="control-label col-sm-2">Optimizer:</label>
    <div class="col-sm-2">
      <select class="form-control bldg-menu selectpicker" id="optimizer" name="optimizer" data-live-search="true" required>
	<option disabled="" selected="" value="">Select...</option>
	<option value="adam">Adam</option>
      </select>
    </div>
  </div>

  <div id='optimizerError' class='alert alert-danger'>Alert</div>
  
  <div class="form-group">
    <label class="control-label col-sm-2">Loss:</label>
    <div class="col-sm-2">
      <select class="form-control bldg-menu selectpicker" id="loss" name="loss" data-live-search="true" required>
	<option disabled="" selected="" value="">Select...</option>
	<option value="mse">Mean Squared Error</option>
	<option value="mae">Mean Absolute Error</option>
	<option value="mape">Mean Absolute Percentage Error</option>
      </select>
    </div>
  </div>

  <div id='lossError' class='alert alert-danger'>Alert</div>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-primary click" type="submit" id="createModel" name="createModel">Create Model</button>
    </div>
  </div>
</form>

{% endblock %}

