{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

<script src="{{ url_for('static', filename='train_model.js') }}"></script>

<style>
  .alert {
      display: none;
  }
</style>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <button class="btn btn-primary click" type="submit" id="train" name="train">Train !</button>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <button class="btn btn-primary click" type="submit" id="save" name="save">Save NN</button>
  </div>
</div>

<div id="loss" name="loss"></div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <canvas id="canvas"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

